.chart .legend {
  fill: black;
  font: 14px sans-serif;
  text-anchor: start;
  font-size: 12px;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: start;
}

.chart .label {
  fill: black;
  font: 14px sans-serif;
  text-anchor: end;
}

.bar:hover {
  fill: brown;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#header {
	font-family: Tinos;
	text-align: center;
	display: block;
	font-size: 30px;
	font-weight: bold;
	margin: 40px auto 20px auto;
	min-width: 710px;
}

.top_divider {
	background-color: #1E1E20;
	height: 1px;
	width: 90%;
	display: inline-block;
}

.elem {
	position: absolute;
}

#description {
	width: 390px;
	margin: auto 5%;
}

#insight {
	font-family: Tinos;
	font-size: 20px;
	text-align: left;
	margin: auto 20px;
}

.title1 {
	font-weight: bold;
}

#visualization {
	margin-left: 390px;
	margin-top: -267px;
}

a:link {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration:underline;
	color: red;
}





