body {
	text-align: center;
}

#frame {
	display: inline-block;
	width: 1200px;
}

.columnname {
	display: inline-block;
	font-family: Lato;
	width: 1200px;
}

.name, .gpa, .gre_v, .gre_q, .essay, .recom {
	display: inline-block;
	width: 127px;
	height: 20px;
	margin: 1em;
	font-size: 20px;
	background-color: green;
}

/*.gpa {
	position: absolute;
	margin-left: 100px;
}

.gre_v {
	position: absolute;
	margin-left: 200px;
}

.gre_q {
	position: absolute;
	margin-left: 300px;
}

.essay {
	position: absolute;
	margin-left: 400px;
}

.recom {
	position: absolute;
	margin-left: 500px;
}
/*is there an easier way to align different <div>s equally?*/

/*.row1_name {
	position: absolute;
	margin-top: 50px; 
	text-align: left;
}*/

.name1, .gpa1, .gre_v1, .gre_q1, .essay1, .recom1 {
	display: inline-block;
	width: 140px;
	height: 40px;
	margin: 1em;
	font-family: Lato;
	font-size: 15px;
	background-color: yellow;
	text-align: center;
}

/*.gpa1 {
	margin-left: 20px;
}

.gre_v1 {
	margin-left: 40px; 
}