@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Ruthie);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}
/* "*"" means all elements (a universe lector), which can set all the elements in same circumstance, that they will show the same sturcture in different browers*/
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #2c3e50;
	/*color: #ecf0f1;
*/	font-size: 100%;
	line-height: 1.25;
	font-family: 'Lato', Arial, sans-serif;
}

a {
	color: #2c3e50;
	text-decoration: none;
	outline: none;
	cursor: pointer;
}

/*Team name*/
a.white span {
	color:#fff;
	text-decoration: none;
}

a.white:hover span {
	color: #ccc;
	text-decoration: none;
}


.container > header {
	margin: 0 auto;
	padding: 6em 3.5em 2em 3.5em;
	text-align: center;
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
	color: #fff;
}

section {
	padding: 4em 2em;
	text-align: center;
}
